{% macro start()%}
{%- endmacro %}

{% macro messages()%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}

            {% for message in messages %}
                <div class="flashes">{{ message }}</div>
            {% endfor %}

        {% endif %}
    {% endwith %}
{%- endmacro %}



 


{% macro createNewQueryForm()%}
	<div class="divider">
		createNewVendor2
		<form action="/submitQuery" method="POST" class="out pure-form">
			<fieldset>
				Company to search for:
				<br>
				<input type="text" name="company" placeholder="company">
				<br>
				comma separated terms to query for:
				<br>
				<input type="text" name="termsToMatch" placeholder="termsToMatc">
				<br>
 
				<button value="button1" class=" button-xsmall pure-button pure-button-primary">Create</button>

			</fieldset>
		</form>
	</div>

{%- endmacro %}



{% macro displayQueries(dataToPrint, heading)%}
   
	<div class="divider">
		<p>{{heading}}:</p>

		<table border=2>
			<tr>
				<td>
				iD
				</td>
				<td>
				QueryData
				</td>
			</tr>
			{% for dictionary in dataToPrint %}
				{% for key in dictionary %}
				<tr>
					<td>
					<h3> <a href="http://127.0.0.1:5000/queryInfo/{{dictionary[key]['company']}}/{{dictionary[key]['terms']}}">{{ key }}</a></h3>
					</td>
					{{key}}
					<td>
					<h3>{{ dictionary[key] }}</h3>
					
					</td>
				</tr>

				{% endfor %}
			{% endfor %}
		</table>

	</div>

{%- endmacro %}



{% macro messages()%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}

            {% for message in messages %}
                <div class="flashes">{{ message }}</div>
            {% endfor %}

        {% endif %}
    {% endwith %}
{%- endmacro %}





{% macro returnToHome() %}
	<div class="divider">
		
		<form action="/" method="GET" class="out pure-form">
				<button value="button1" class=" button-xsmall pure-button pure-button-primary">ReturnToHome</button>
	 
		</form>
	</div>

{%- endmacro %}